<p>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><strong><%= value.html_safe %></strong></div>
<% end %>
</p>
<%= form_for :tweet, url: tweets_path, method: :post do |f| %>
    <%=f.label 'message:'%>
    <br>
    <%= f.text_area :message, id: 'textarea' %>
    <%= f.submit "Send Tweet", id: 'Submit' %>
<% end %>
